<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Ventas')}"/>
<body class="bg-white">
<header th:replace="~{fragments/header :: header('Ventas')}"/>
<main class="container mx-auto p-4 py-8">
    <div class="grid grid-cols-2 gap-8">
        <div class="bg-white shadow-md rounded-lg p-6">
            <h2 class="text-2xl font-bold text-center text-chocolate mb-6">Registrar Venta de Galletas</h2>

            <div class="mb-6">
                <input type="text" id="searchInput" placeholder="Buscar galletas..."
                       class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-red focus:border-transparent"/>
            </div>

            <div id="cookiesContainer" class="w-full grid grid-cols-1 gap-4">
            </div>
        </div>

        <div class="bg-white shadow-md rounded-lg p-6">
            <h2 class="text-2xl font-bold text-center text-chocolate mb-6">Artículos en el Carrito</h2>
            <div id="purchaseItems" class="grid grid-cols-1 gap-4">
            </div>
            <div class="mt-8">
                <button onclick="submitPurchase()"
                        class="bg-red hover:bg-terracotta text-white font-bold py-3 px-6 rounded-lg h-20 w-full focus:outline-none focus:shadow-outline transition-all duration-300">
                    Cerrar Venta
                </button>
            </div>
        </div>
    </div>
</main>
<button th:replace="~{fragments/goTop :: goTop}"/>
<footer th:replace="~{fragments/footer :: footer}"/>

<script th:inline="javascript">
    let saleItems = [];
    let cookies = [];
    let measures = /*[[${measures}]]*/ [];

    document.addEventListener('DOMContentLoaded', () => {
        const searchInput = document.getElementById('searchInput');
        searchInput.addEventListener('input', debounce(searchCookies, 300));
    });



    function searchCookies() {
        const searchParam = document.getElementById('searchInput').value.trim();
        if (searchParam.length > 0) {
            fetch(`api/galletas/${searchParam}`)
                .then(response => response.json())
                .then(data => {
                    cookies = data;
                    console.log('Cookies:', cookies); // Agrega esta línea para depurar
                    renderCookies();
                })
                .catch(error => console.error('Error:', error));
        } else {
            renderCookies();
        }
    }

    function renderCookies() {
        const container = document.getElementById('cookiesContainer');
        container.innerHTML = '';

        cookies.forEach(item => {
            const card = document.createElement('div');
            card.className = 'bg-white p-4 w-full flex-grow rounded-lg shadow hover:shadow-lg transition-shadow duration-300';
            card.innerHTML = `
        <div class="grid grid-cols-5 md:grid-cols-4 gap-2 pb-4">
            <h6 id="name-${item.id}" class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-red focus:border-transparent">
             ${item.name}
            </h6>
            <input id="quantity-${item.id}" type="number" placeholder="Cantidad" class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-red focus:border-transparent"/>
            <select id="measure-${item.id}" class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-red focus:border-transparent">
                <option value="" selected>Unidad de Medida</option>
            </select>
            <h6 id="unitPrice-${item.id}" type="number"  class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-red focus:border-transparent">${getCookiePrice(item.id)}</h6>
            <input id="totalPrice-${item.id}" hidden="hidden" type="number" step="0.01" placeholder="Precio Total" class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-red focus:border-transparent"/>
        </div>
        <button onclick="addItem(${item.id})" class="bg-white w-full hover:bg-terracotta hover:text-white font-bold py-2 px-4 rounded transition-all duration-300">
            Agregar a la Compra
        </button>
    `;
            container.appendChild(card);
            const measureSelect = document.getElementById(`measure-${item.id}`);
            fetch('api/galletas/medidas')
                .then(response => response.json())
                .then(data => {
                    measures = data;
                    console.log('Measures:', measures); // Agrega esta línea para depurar

                    measures.forEach((measure, index) => {
                        if (measure.id === 3 || measure.id === 4 || measure.id === 5) return;

                        const option = document.createElement('option');
                        option.value = measure.id;
                        option.textContent = measure.name;
                        measureSelect.appendChild(option);
                    });

                    measureSelect.addEventListener('change', () => {
                        const unitPriceElement = document.getElementById(`unitPrice-${item.id}`);
                        const selectedMeasureId = parseInt(measureSelect.value, 10);
                        const updatedPrice = getCookiePrice(item.id, selectedMeasureId);
                        unitPriceElement.textContent = updatedPrice.toFixed(2);
                    });
                })
                .catch(error => console.error('Error:', error));

        });
    }

    function getCookiePrice(cookieId, measureId) {
        const cookieOption = cookies.find(cookie => cookie.id === cookieId);
        if (!cookieOption) return 0;

        switch (measureId) {
            case 1:
                return (cookieOption.price * 25) / 1000;
            case 2:
                return cookieOption.price * 25;
            default:
                return cookieOption.price;
        }
    }

    function getMeasureSymbol(id) {
        const measureOption = measures.find(measure => measure.id === id);
        return measureOption ? measureOption.symbol : 'Desconocido';
    }

    function updatePurchaseItems() {
        const container = document.getElementById('purchaseItems');
        container.innerHTML = '';

        saleItems.forEach((item, index) => {
            const measureSymbol = getMeasureSymbol(item.measureId);

            if( item.measureId == 5){
                const card = document.createElement('div');
                card.className = 'bg-white p-4 rounded-lg shadow';
                card.innerHTML = `
            <h4 class="font-semibold text-red">Galleta: ${item.name}</h4>
            <p class="text-sm">Cantidad: ${item.quantity} ${measureSymbol}</p>
            <p class="text-sm">Precio Unitario: $${item.unitPrice.toFixed(2)}</p>
            <p class="text-sm">Precio Total: $${item.totalPrice.toFixed(2)}</p>
            <div class="mt-2">
                <button onclick="removeItem(${index})" class="bg-chocolate hover:bg-white hover:text-chocolate text-white text-sm font-bold py-1 px-2 rounded mr-2 transition-all duration-300">Eliminar</button>
            </div>
        `;
                container.appendChild(card);
            }else{
                const card = document.createElement('div');
                card.className = 'bg-white p-4 rounded-lg shadow';
                card.innerHTML = `
            <h4 class="font-semibold text-red">Galleta: ${item.name}</h4>
            <p class="text-sm">Cantidad: ${item.quantity} ${measureSymbol}</p>
            <p class="text-sm">Precio Unitario: $${item.unitPrice.toFixed(2)}</p>
            <p class="text-sm">Precio Total: $${item.totalPrice.toFixed(2)}</p>
            <div class="mt-2">
                <button onclick="removeItem(${index})" class="bg-chocolate hover:bg-white hover:text-chocolate text-white text-sm font-bold py-1 px-2 rounded mr-2 transition-all duration-300">Eliminar</button>
                <button id="restar" onclick="decreaseQuantity(${index})" class="bg-chocolate hover:bg-white hover:text-chocolate text-white text-sm font-bold py-1 px-2 rounded mr-2 transition-all duration-300">Restar</button>
                <button id="sumar" onclick="increaseQuantity(${index})" class="bg-chocolate hover:bg-white hover:text-chocolate text-white text-sm font-bold py-1 px-2 rounded transition-all duration-300">Sumar</button>
            </div>
        `;
                container.appendChild(card);
            }

        });
    }

    function addItem(itemId) {
        let item = null;
        const quantity = document.getElementById(`quantity-${itemId}`);
        const measure = document.getElementById(`measure-${itemId}`);
        let unitPrice =  getCookiePrice(itemId);
        let totalPrice = parseFloat(unitPrice) * parseFloat(quantity.value);
        const name = document.getElementById(`name-${itemId}`);

        if (!quantity.value || !measure.value) {
            alert('Por favor, complete todos los campos necesarios');
            return;
        }

        if( measure.value == 1) {
            unitPrice = (unitPrice * 25) / 1000;
            totalPrice = unitPrice * parseFloat(quantity.value);
        }

        if( measure.value == 2) {
            unitPrice = unitPrice * 25;
            totalPrice = unitPrice * parseFloat(quantity.value);
        }

        if( measure.value == 5){
            item = {
                name: name.textContent,
                quantity: parseFloat(quantity.value),
                measureId: parseInt(measure.value),
                unitPrice: unitPrice,
                totalPrice: parseFloat(quantity.value)
            };
        } else{
            item = {
                name: name.textContent,
                quantity: parseFloat(quantity.value),
                measureId: parseInt(measure.value),
                unitPrice: unitPrice,
                totalPrice: totalPrice
            };
        }

        console.log(item)

        saleItems.push(item);
        updatePurchaseItems();
        clearForm(itemId);
    }

    function clearForm(itemId) {

        document.getElementById(`quantity-${itemId}`).value = '';
        document.getElementById(`measure-${itemId}`).value = '';
        document.getElementById(`unitPrice-${itemId}`).value = '';
    }

    function removeItem(index) {
        saleItems.splice(index, 1);
        updatePurchaseItems();
    }

    function decreaseQuantity(index) {
        if (saleItems[index].quantity > 1) {
            saleItems[index].quantity -= 1;
            saleItems[index].totalPrice = saleItems[index].unitPrice * saleItems[index].quantity;
            updatePurchaseItems();
        } else {
            removeItem(index);
        }
    }

    function increaseQuantity(index) {

            saleItems[index].quantity += 1;
            saleItems[index].totalPrice = saleItems[index].unitPrice * saleItems[index].quantity;
            updatePurchaseItems();

    }

    function submitPurchase() {
        if (saleItems.length === 0) {
            alert('Agregue al menos un artículo a la compra');
            return;
        }

        fetch('/ventas', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(saleItems)
        })
            .then(response => response.json())
            .then(data => {
                alert('Compra realizada con éxito');
                saleItems = [];
                updatePurchaseItems();
            })
            .catch((error) => {
                console.error('Error:', error);
                alert('Error al realizar la compra');
            });
    }

    function debounce(func, wait) {
        let timeout;
        return function executedFunction(...args) {
            const later = () => {
                clearTimeout(timeout);
                func(...args);
            };
            clearTimeout(timeout);
            timeout = setTimeout(later, wait);
        };
    }
</script>

</body>
</html>