<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Cocina de Don Galleto')}">
</head>
<body class="bg-latte-light">
<header th:replace="~{fragments/header :: header('Cocina')}"/>
<main class="container mx-auto p-4 py-8">
    <div class="bg-white shadow-md rounded-lg p-6">
        <h1 class="text-3xl font-bold text-[#332722] mb-6 text-center">Seleccione la receta</h1>
        <div class="grid md:grid-cols-2 gap-4">
            <!-- Tarjeta para seleccion de recetas -->
            <div class="bg-white rounded-lg shadow-md overflow-y: scroll; hover:shadow-lg transition-shadow duration-300 p-4"style="width: 55%;">
                <h2 class="text-2xl font-semibold text-[#332722] mb-4 text-center">Receta</h2>
                <table class="w-full text-left table-auto min-w-max" style="width: 25%; font-size: 0.75rem;">
                <thead>
                    <tr>
                        <th class="p-4 text-center">Nombre</th>
                        <th class="p-4 text-center">Acción</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="recipe : ${recipes}">
                        <td class="p-4" th:text="${recipe.name}"></td>
                        <td class="p-4">
                            <button onclick="openModal()" class="text-red font-bold py-2 px-4 rounded transition-colors duration-300" data-recipe-name="${recipe.name}">
                                ¡preparar ya!
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <a href="/inventario/materiaprima" class="bg-white hover:bg-chocolate hover:text-white rounded-full shadow-lg font-bold py-1 px-2 text-xs">
                    Modificar recetas
                </a>
                <a href="/inventario/materiaprima" class="bg-chocolate hover:bg-white hover:text-chocolate rounded-full shadow-lg font-bold py-1 px-1 text-xs  text-white" style="width: 15%;">
                    Agregar receta
                </a>
            </div>

            <!-- Tarjeta para horneado de Galletas -->
            <div class="bg-white rounded-lg shadow-md overflow-hidden hover:shadow-lg transition-shadow duration-300 p-4" style="width: 145%; margin-left: -45%;">
                <h2 class="text-2xl font-semibold text-[#332722] mb-4 text-center">Horneado</h2>

                <div class="card">
                    <div class="circle" id="preparingCircle"></div>
                    <div class="circle hidden" id="bakingCircle"></div>
                    <div class="circle hidden" id="readyCircle"></div>
                    <h3><strong>Galletas de nuez</strong></h3>
                    <div id="horneadoStatus">
                        <h3 id="status">Preparando</h3>
                        <p id="timeElement"></p>
                    <button onclick="changeStatus()" class="bg-white hover:bg-chocolate hover:text-white rounded-full shadow-lg font-bold py-1 px-2 text-xs">
                        Avanzar
                    </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>

<!-- Modal -->
<div th:replace="fragments/modal :: modal">
    <h3 class="text-xl font-bold text-chocolate text-center" th:fragment="modalTitle">Ingredientes</h3>
    <div class="m-8" th:fragment="modalContent">
        <div class="mb-6">
            <div class="flex w-full">
                <div style="margin-right: 35px; flex: 1;">
                    <ul class="list-none pl-5">
                        <li class="mb-2">Nuez</li>
                        <li class="mb-2">Harina</li>
                        <li>Huevo</li>
                    </ul>
                </div>
                <div style="flex: 1; position: relative; margin-right: 35px;">
                    <h4 class="text-xs font-semibold text-[#332722] mb-2" style="position: absolute; top: -18px;">Tienes</h4>
                    <ul class="list-none pl-5">
                        <li class="mb-2 text-red-600">5.2g</li>
                        <li class="mb-2">19kg</li>
                        <li>120pz</li>
                    </ul>
                </div>
                <div style="flex: 1; position: relative;">
                    <h4 class="text-xs font-semibold text-[#332722] mb-2" style="position: absolute; top: -18px;">Necesitas</h4>
                    <ul class="list-none pl-5">
                        <li class="mb-2">10g</li>
                        <li class="mb-2">1kg</li>
                        <li>1pz</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="mb-6">
            <p class="text-sm text-red">Faltan 4.8g de nuez</p>
            <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mt-2">
                Comprar más
            </button>
        </div>

        <div class="mb-6">
            <h4 class="text-lg font-semibold text-[#332722] mb-2">Procedimiento</h4>
            <p class="text-sm text-gray-700">1. Mezclar los ingredientes secos en un recipiente.</p>
            <p class="text-sm text-gray-700">2. Añadir los ingredientes líquidos y mezclar bien.</p>
            <p class="text-sm text-gray-700">3. Hornear a 180°C durante 25 minutos.</p>
        </div>

        <div class="flex justify-center gap-2 mt-4">
        <button onclick="closeModal()" class="bg-chocolate hover:bg-white hover:text-chocolate rounded-full shadow-lg font-bold py-1 px-1 text-xs  text-white">
            Cancelar
        </button>
            <button onclick="startPreparation()" class="bg-white hover:bg-chocolate hover:text-white rounded-full shadow-lg font-bold py-1 px-2 text-xs">
                Preparar
            </button>
        </div>
    </div>
</div>


<button th:replace="~{fragments/goTop :: goTop}"></button>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
