<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Cocina de Don Galleto')}"/>
<body class="bg-latte-light">
<header th:replace="~{fragments/header :: header('Cocina')}"/>
<main class="container mx-auto p-4 py-8">
    <div class="bg-white shadow-md rounded-lg p-6">
        <h1 class="text-3xl font-bold text-[#332722] mb-6 text-center">Seleccione la receta</h1>
        <div class="grid md:grid-cols-2 gap-6">
            <!-- Tarjeta para seleccion de recetas -->
            <div class="bg-white rounded-lg shadow-md overflow-hidden hover:shadow-lg transition-shadow duration-300">
                <div class="p-6">
                    <h2 class="text-2xl font-semibold text-[#332722] mb-4">Receta</h2>
                    <table class="w-full text-left table-auto min-w-max">
                        <thead>
                        <tr>
                            <th class="p-4 border-b border-latte">
                                <p class="block font-bold text-sm antialiased leading-none text-chocolate">
                                    Nombre
                                </p>
                            </th>
                            <th class="p-4 border-b border-latte">
                                <p class="block font-bold text-sm antialiased leading-none text-chocolate">
                                    Acción
                                </p>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="recipe : ${recipes}">
                            <td class="p-4 border-b border-latte">
                                <p class="block font-bold text-sm antialiased leading-normal text-chocolate"
                                   th:text="${recipe.name}">
                                </p>
                            </td>
                            <td class="p-4 border-b border-latte">
                                <a href="#" class="inline-block bg-red-600 hover:bg-red-700 text-red font-bold py-2 px-4 rounded transition-colors duration-300">
                                    Preparar ya!!
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <a href="/inventario/materiaprima" class="inline-block bg-[#F46F4A] hover:bg-[#CB765E] text-white font-bold py-2 px-4 rounded transition-colors duration-300">
                        Ver Inventario
                    </a>
                </div>
            </div>

            <!-- Tarjeta para Inventario de Galletas -->
            <div class="bg-white rounded-lg shadow-md overflow-hidden hover:shadow-lg transition-shadow duration-300">
                <h2 class="text-2xl font-semibold text-[#332722] mb-4">Horneado</h2>

            </div>
        </div>
    </div>
</main>
<button th:replace="~{fragments/goTop :: goTop}"/>
<footer th:replace="~{fragments/footer :: footer}"/>
</body>
</html>