{% extends "layout_Clientes.html" %}
{% import "macros.html" as macros %}
{% block title %}Crear Cuenta - DON GALLETO{% endblock %}

{% block content %}

<div class="py-32 relative overflow-x-auto sm:rounded-lg">
    <form action="" method="POST" novalidate class="max-w-md mx-auto">
        <div class="relative z-0 w-full mb-5 group">
            {{ macros.campoNuevo(form.nombre, class="block py-2.5 px-30 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-black dark:border-gray-600 focus:ring-0 focus:border-blue-600 peer") }}
        </div>
        <div class="relative z-0 w-full mb-5 group">
            {{ macros.campoNuevo(form.apellido, class="block py-2.5 px-30 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-black dark:border-gray-600 focus:ring-0 focus:border-blue-600 peer") }}
        </div>
        <div class="relative z-0 w-full mb-5 group">
            {{ macros.campoNuevo(form.email, class="block py-2.5 px-30 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-black dark:border-gray-600 focus:ring-0 focus:border-blue-600 peer") }}
        </div>
        <div>
            {{ macros.campoNuevo(form.contrasenia, class="block py-2.5 px-30 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-black dark:border-gray-600 focus:ring-0 focus:border-blue-600 peer") }}
        </div>
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Crear</button>
    </form>
</div>
{% endblock %}