{% extends "layouts/auth.html" %}

{% block title %}Proveedores - DON{% endblock %}

{% block content %}
<div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    <div class="flex items-center justify-between mb-6">
        <div class="flex items-center">
            <a href="{{ url_for('principal.index') }}" class="flex-shrink-0">
                <i class="fa-solid fa-angle-left text-2xl text-gray-700"></i>
            </a>
            <h2 class="ml-4 text-2xl font-bold text-gray-800">Proveedores</h2>
        </div>
    </div>

    <div class="flex w-full overflow-hidden bg-gray-200 rounded-full mb-6 text-sm">
        <a href="{{ url_for('principal.compra.compras') }}" class="flex-1 py-3 rounded-full px-4 text-center">
            Compras
        </a>
        <a href="{{ url_for('principal.proveedor.proveedores') }}"
            class="flex-1 py-3 rounded-full px-4 text-center bg-white border border-gray-200 shadow-md">
            Proveedores
        </a>
    </div>

    <div id="proveedores-container" class="grid grid-cols-1 gap-6">
        {% for proveedor in proveedores %}
        <a href="{{ url_for('principal.proveedor.detalles_proveedor', proveedor_id=proveedor.id) }}" 
           class="bg-gray-200 rounded-lg p-6 w-full flex flex-col cursor-pointer hover:bg-gray-300">
            <div class="flex justify-between items-center mb-4">
                <div class="flex flex-col">
                    <h3 class="text-lg font-semibold text-gray-800">{{ proveedor.nombre }}</h3>
                    <p class="text-sm text-gray-500">{{ proveedor.contacto }}</p>
                </div>
            </div>
        </a>
        {% else %}
        <div class="col-span-full text-center py-8">
            <p class="text-gray-500">No hay proveedores registrados</p>
        </div>
        {% endfor %}
    </div>

    <!-- Botón para agregar proveedores -->
    <div class="mt-6 bg-gray-200 p-6 flex justify-center items-center rounded-lg cursor-pointer hover:bg-gray-300">
        <a href="{{ url_for('principal.proveedor.crear_proveedor') }}" class="flex justify-center items-center w-full h-full">
            <span class="text-2xl">+</span>
        </a>
    </div>
</div>
{% endblock %}