{% extends "layouts/auth.html" %} {% block title %}Mermas - DON{% endblock %} {% block content %}

<div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    <div class="flex items-center justify-between mb-6">
        <div class="flex items-center">
            <a href="{{ url_for('principal.index') }}" class="flex-shrink-0">
                <i class="fa-solid fa-angle-left text-2xl text-gray-700"></i>
            </a>
            <h2 class="ml-4 text-2xl font-bold text-gray-800">Mermas</h2>
        </div>
    </div>
    <div class="w-full max-w-4xl mx-auto px-6 md:px-12 p-6">
        <p class="text-gray-500">Registros de mermas</p>

        <div class="mt-4 bg-gray-200 p-4 rounded-lg flex justify-center space-x-4">
            <button onclick="showTab('insumos')" id="insumos-tab" class="nav-button py-2 px-6 text-center rounded-full bg-white">
                Insumos
            </button>
            <button onclick="showTab('galletas')" id="galletas-tab" class="nav-button py-2 px-6 text-center rounded-full bg-gray-200">
                Galletas
            </button>
            <button onclick="showTab('produccion')" id="produccion-tab" class="nav-button py-2 px-6 text-center rounded-full bg-gray-200">
                Producción
            </button>
        </div>

        <!-- Contenido de Insumos -->
        <div id="insumos-content" class="mt-6 hidden">
            {% for merma in mermas if merma.insumo %}
            <div class="mb-4 bg-gray-200 p-6 rounded-lg shadow-md">
                <div class="grid grid-cols-4 font-bold text-sm text-gray-700 text-center">
                    <div class="p-3">Tipo de merma</div>
                    <div class="p-3">Insumos</div>
                    <div class="p-3">Medida</div>
                    <div class="p-3">Cantidad</div>
                </div>
                <div class="grid grid-cols-4 p-3 rounded-lg text-center">
                    <div class="p-3">Insumo</div>
                    <div class="p-3">{{ merma.insumo.nombre }}</div>
                    <div class="p-3">{{ merma.medida.nombre }}</div>
                    <div class="p-3">{{ merma.total }}</div>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Contenido de Galletas -->
        <div id="galletas-content" class="mt-6 hidden">
            {% for merma in mermas if merma.galleta %}
            <div class="mb-4 bg-gray-200 p-6 rounded-lg shadow-md">
                <div class="grid grid-cols-4 font-bold text-sm text-gray-700 text-center">
                    <div class="p-3">Tipo de merma</div>
                    <div class="p-3">Galletas</div>
                    <div class="p-3">Medida</div>
                    <div class="p-3">Cantidad</div>
                </div>
                <div class="grid grid-cols-4 p-3 rounded-lg text-center">
                    <div class="p-3">Galleta</div>
                    <div class="p-3">{{ merma.galleta.nombre }}</div>
                    <div class="p-3">{{ merma.medida.nombre }}</div>
                    <div class="p-3">{{ merma.total }}</div>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Contenido de Producción -->
        <div id="produccion-content" class="mt-6 hidden">
            {% for merma in mermas if merma.produccion %}
            <div class="mb-4 bg-gray-200 p-6 rounded-lg shadow-md">
                <div class="grid grid-cols-4 font-bold text-sm text-gray-700 text-center">
                    <div class="p-3">Tipo de merma</div>
                    <div class="p-3">Producción</div>
                    <div class="p-3">Medida</div>
                    <div class="p-3">Cantidad</div>
                </div>
                <div class="grid grid-cols-4 p-3 rounded-lg text-center">
                    <div class="p-3">Producción</div>
                    <div class="p-3">
                        {% if merma.produccion.estatus == 1 %} 🛠 Haciendo {% elif merma.produccion.estatus == 2 %} 🔥 Cocinando {% elif merma.produccion.estatus == 3 %} ✅ Listo {% elif merma.produccion.estatus == 4 %} ⚠️ Merma {% else %} Desconocido {% endif %}
                        <br>
                        <span class="text-sm text-gray-600">
                            {{ merma.produccion.fecha.strftime('%d/%m/%Y') }} - 
                            {% if merma.produccion.receta and merma.produccion.receta.galleta %}
                                {{ merma.produccion.receta.galleta.nombre }}
                            {% else %}
                                Producción sin galleta asociada
                            {% endif %}
                        </span>
                    </div>
                    <div class="p-3">{{ merma.medida.nombre }}</div>
                    <div class="p-3">{{ merma.total }}</div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Botón para agregar nueva merma -->
        <div class="mt-6 bg-gray-200 p-6 flex justify-center items-center rounded-lg cursor-pointer hover:bg-gray-300">
            <a href="{{ url_for('principal.merma.agregar_merma') }}" class="flex justify-center items-center w-full h-full">
                <span class="text-2xl">+</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}