{% extends "layouts/auth.html" %}

{% block title %}Usuarios - DON GALLETO{% endblock %}

{% block header %}Gestión de Usuarios{% endblock %}

{% block content %}
<div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    <div class="flex items-center justify-between mb-6">
        <div class="flex items-center">
            <a href="{{ url_for('principal.index') }}" class="flex-shrink-0">
                <i class="fa-solid fa-angle-left text-2xl text-gray-700"></i>
            </a>
            <h2 class="ml-4 text-2xl font-bold text-gray-800">Usuarios</h2>
        </div>
    </div>
    <div class="flex w-full overflow-hidden bg-gray-200 rounded-full mb-6 text-sm">
        {% if current_user.rol.nombre == 'ADMIN' %}
        <a href="{{ url_for('principal.usuario.listar_usuarios', rol='administradores') }}"
            class="flex-1 py-3 rounded-full px-4 text-center {% if rol == 'administradores' %}bg-white border border-gray-200 shadow-md{% endif %}">
            Administradores
        </a>
        {% endif %}
        <a href="{{ url_for('principal.usuario.listar_usuarios', rol='trabajadores') }}"
            class="flex-1 py-3 rounded-full px-4 text-center {% if rol == 'trabajadores' %}bg-white border border-gray-200 shadow-md{% endif %}">
            Trabajadores
        </a>
        <a href="{{ url_for('principal.usuario.listar_usuarios', rol='compradores') }}"
            class="flex-1 py-3 rounded-full px-4 text-center {% if rol == 'compradores' %}bg-white border border-gray-200 shadow-md{% endif %}">
            Compradores
        </a>
    </div>

    <form action="{{ url_for('principal.usuario.listar_usuarios', rol=rol) }}" method="get" class="mb-6">
        <div class="relative">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                </svg>
            </div>
            <input type="search" name="busqueda" value="{{ busqueda }}"
                class="block w-full rounded-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 bg-gray-50 focus:ring-[var(--color-red-default)] focus:border-[var(--color-red-default)]"
                placeholder="Buscar usuarios..." required>
        </div>
    </form>

    <div class="space-y-4">
        {% if usuarios|length == 0 %}
        <div class="p-4 mb-4 text-sm text-[var(--color-dirt-default)] rounded-lg" rol="alert">
            <span class="font-medium">No se encontraron usuarios</span> {% if busqueda %}con el término de búsqueda
            "{{
            busqueda }}"{% endif %}.
        </div>
        {% endif %}

        {% for usuario in usuarios %}
        <a href="{{ url_for('principal.usuario.editar_usuario', rol=rol, id=usuario.id) }}"
            class="block p-6 border border-gray-200 rounded-lg shadow-sm hover:shadow-2xl hover:-translate-x-1 hover:-translate-y-1 transition duration-75">
            <div class="flex justify-between items-start">
                <div>
                    <h5 class="mb-1 text-xl font-bold tracking-tight text-gray-900">{{ usuario.nombre }}</h5>
                    <p class="text-sm font-normal text-gray-700">{{ usuario.email }}</p>
                    {% if usuario.estatus %}
                    <span
                        class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm">Activo</span>
                    {% else %}
                    <span
                        class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm">Inactivo</span>
                    {% endif %}
                </div>
            </div>
        </a>
        {% endfor %}

        <a href="{{ url_for('principal.usuario.crear_usuario', rol=rol) }}"
            class="block p-6 bg-gray-100 border border-gray-200 rounded-lg shadow-sm hover:bg-gray-50 transition-all">
            <div class="flex items-center justify-center h-12">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-gray-500" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                </svg>
            </div>
        </a>
    </div>
</div>
{% endblock %}