{% extends "layouts/auth.html" %}

{% block title %}Galletas - DON{% endblock %}

{% block content %}
<div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    <div class="flex items-center justify-between mb-6">
        <div class="flex items-center">
            <a href="{{ url_for('principal.index') }}" class="flex-shrink-0">
                <i class="fa-solid fa-angle-left text-2xl text-gray-700"></i>
            </a>
            <h2 class="ml-4 text-2xl font-bold text-gray-800">Galletas</h2>
        </div>
    </div>
    <div class="flex w-full overflow-hidden bg-gray-200 rounded-full mb-6 text-sm">
        <a href="{{ url_for('principal.galleta.galletas_inv') }}"
            class="flex-1 py-3 rounded-full px-4 text-center bg-white border border-gray-200 shadow-md">
            Inventario
        </a>
        <a href="{{ url_for('principal.galleta.galletas') }}"
            class="flex-1 py-3 rounded-full px-4 text-center">
            Tipos
        </a>
    </div>

    <form class="mb-6">
        <div class="relative">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                </svg>
            </div>
            <input type="text" id="simple-search"
                class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-full bg-gray-50 focus:ring-[var(--color-latte-default)] focus:border-[var(--color-latte-default)]"
                placeholder="Cookie" required oninput="filterInsumos()" />
        </div>
    </form>

    <select id="view-mode" class="mt-1 block w-full border border-gray-300 rounded-full px-4 focus:ring-[var(--color-terracotta-default)] focus:border-[var(--color-dirt-default)]" required>
        <option value="kg" selected>Kilogramos</option>
        <option value="piezas">Piezas</option>
    </select>

    <div class="p-5 grid grid-cols-2 md:grid-cols-4 lg:grid-cols-4 gap-2 md:gap-4 lg:gap-4">
        {% for inv in inventarios %}
        <div class="p-5 galleta-item bg-white border border-gray-200 rounded-lg 
        shadow-sm light:bg-gray-800 light:border-gray-700 object-fill">
            <div class="max-w-sm max-h-sm">
                <a href="{{ url_for('principal.galleta.galletas_detalles', galleta_id=inv.id) }}">
                    <img class="rounded-t-lg md:w-full md:h-full object-cover" src="../static/img/{{ inv.imagen }}"
                        alt="{{ inv.galleta }}" />
                </a>
            </div>
            <div class="p-5 grid grid-cols-2 gap-6">
                <div>
                    <h7 class="mb-2 md:text-2xl lg:text-2xl
                     text-lg font-bold tracking-tight text-gray-900 dark:text-black">
                        {{ inv.galleta }}</h7>
                    {% if inv.cantidad_kg > 0 %}
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Disponible</p>
                    {% else %}
                    <p class="mb-3 font-normal text-red-200 dark:text-red-400">Agotado</p>
                    {% endif %}
                </div>
                <div class="justify-self-end">
                    <h7 class="mb-2 md:text-2xl lg:text-2xl text-lg font-bold tracking-tight text-gray-900 dark:text-black cantidad"
                        data-cantidad-kg="{{ "%.2f"|format(inv.cantidad_kg) }}">
                        {{ "%.2f"|format(inv.cantidad_kg) }}
                    </h7>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 medida">{{ inv.medida }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <script>
        function filterInsumos() {
            const searchInput = document.getElementById('simple-search').value.toLowerCase();
            const insumos = document.querySelectorAll('.galleta-item');

            insumos.forEach(insumo => {
                const insumoText = insumo.textContent.toLowerCase();
                if (insumoText.includes(searchInput)) {
                    insumo.style.display = '';
                } else {
                    insumo.style.display = 'none';
                }
            });
        }

        document.getElementById('view-mode').addEventListener('change', function () {
            const mode = this.value; // Obtener el modo seleccionado (kg o piezas)
            const items = document.querySelectorAll('.galleta-item');

            items.forEach(item => {
                const cantidadElement = item.querySelector('.cantidad');
                const medidaElement = item.querySelector('.medida');
                const cantidadKg = parseFloat(cantidadElement.getAttribute('data-cantidad-kg')); // Recuperar el valor original

                if (mode === 'piezas') {
                    // Convertir a piezas
                    const cantidadPiezas = Math.floor(cantidadKg / 0.05);
                    cantidadElement.textContent = cantidadPiezas;
                    medidaElement.textContent = 'Piezas';
                } else {
                    // Mostrar en kilogramos con máximo dos decimales
                    cantidadElement.textContent = cantidadKg.toFixed(2);
                    medidaElement.textContent = 'Kilogramos';
                }
            });
        });
    </script>
</div>
{% endblock %}