{%extends "layouts/auth.html"%}
{%block title%}Galletas Insumo - DON{%endblock%}
{%block content%}

<div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    <div class="flex items-center justify-between mb-6">
        <div class="flex items-center">
            <a href="{{ url_for('principal.galleta.galletas_inv') }}" class="flex-shrink-0">
                <i class="fa-solid fa-angle-left text-2xl text-gray-700"></i>
            </a>
            <h2 class="ml-4 text-2xl font-bold text-gray-800">Galleta</h2>
        </div>
    </div>
    <div class="grid grid-cols-1 flex items-center justify-center p-4">
        {%for galleta in detalles%}
        <div class="w-full max-w-md bg-white border justify-self-center border-gray-200 rounded-lg 
        shadow-sm light:bg-gray-800 light:border-gray-700 object-fill p-4 ">
            <div class="mb-2 md:text-2xl lg:text-2xl text-lg 
        font-bold tracking-tight text-gray-900 dark:text-black">{{galleta.galleta}}</div>
            <div class="flex gap-2">
                <h2 class="font-bold">Cantidad: </h2>
                <p>{{galleta.cantidad}} kgs</p>
            </div>
            <div class="flex gap-2">
                <h2 class="font-bold">Fecha de caducidad: </h2>
                <p>{{galleta.caducidad}}</p>
            </div>
            {% if galleta.caducada %}
            <div class="text-red-600 text-size font-bold">¡Caducado por más de una semana!</div>
            {% endif %}
        </div>
        {%endfor%}
    </div>
</div>


{%endblock%}