{% extends "layouts/auth.html" %}

{% block title %}Galletas - DON{% endblock %}

{% block content %}
<div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    <div class="flex items-center justify-between mb-6">
        <div class="flex items-center">
            <a href="{{ url_for('principal.index') }}" class="flex-shrink-0">
                <i class="fa-solid fa-angle-left text-2xl text-gray-700"></i>
            </a>
            <h2 class="ml-4 text-2xl font-bold text-gray-800">Galletas</h2>
        </div>
    </div>

    <form class="mb-6">
        <div class="relative">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                </svg>
            </div>
            <input type="text" id="simple-search"
                class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-full bg-gray-50 focus:ring-[var(--color-latte-default)] focus:border-[var(--color-latte-default)]"
                placeholder="Cookie" required oninput="filterInsumos()" />
        </div>
    </form>

    <div class=" p-5 grid grid-cols-2 md:grid-cols-4 lg:grid-cols-4 gap-2 md:gap-4 lg:gap-4">
        {% for inv in inventarios %}

        <div class="p-5 galleta-item shadow-sm border border-gray-200 rounded-lg 
        shadow-sm hover:shadow-2xl hover:-translate-x-1 hover:-translate-y-1 transition duration-75 object-fill">
            <div class="max-w-sm max-h-sm">
                <a href="{{ url_for('principal.galleta.galletas_detalles', galleta_id=inv.galleta_id) }}">
                    <img class="rounded-t-lg md:w-full md:h-full object-cover" src="../static/img/{{ inv.imagen }}"
                        alt="{{ inv.galleta }}" />
                </a>
            </div>
            <div class="p-5 grid grid-cols-2 gap-6">
                <div>
                    <h7 class="mb-2 md:text-2xl lg:text-2xl
                     text-lg font-bold tracking-tight text-gray-900 dark:text-black">
                        {{ inv.galleta }}</h7>
                    {%if inv.cantidad > 0 %}
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Disponible</p>
                    {%else%}
                    <p class="mb-3 font-normal text-red-200 dark:text-red-400">Agotado</p>
                    {%endif%}
                </div>
                <div class="justify-self-end ">
                    <h7
                        class="mb-2 md:text-2xl lg:text-2xl text-lg  font-bold  tracking-tight text-gray-900 dark:text-black">
                        {{inv.cantidad}}</h7>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Kg</p>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="p-5 galleta-item bg-white border border-gray-200 shadow-sm rounded-lg 
        shadow-sm hover:shadow-2xl hover:-translate-x-1 hover:-translate-y-1 transition duration-75 object-fill">
            <a href="{{ url_for('principal.galleta.galletas_agregar')}}">
                <div class="max-w-sm max-h-sm flex justify-center items-center h-full">

                    <i class="fa-solid fa-plus text-2xl text-gray-700"></i>

                </div>
            </a>
        </div>
    </div>
    <script>
        function filterInsumos() {
            const searchInput = document.getElementById('simple-search').value.toLowerCase();
            const insumos = document.querySelectorAll('.galleta-item');

            insumos.forEach(insumo => {
                const insumoText = insumo.textContent.toLowerCase();
                if (insumoText.includes(searchInput)) {
                    insumo.style.display = '';
                } else {
                    insumo.style.display = 'none';
                }
            });
        }
    </script>
</div>
{% endblock %}