{% extends "layouts/auth.html" %}

{% block title %}Detalles de Compra - DON GALLETO{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-6">
    <div class="flex items-center justify-between mb-6">
        <div class="flex items-center">
            <a href="{{ url_for('principal.compra.compras') }}" class="flex-shrink-0">
                <i class="fa-solid fa-angle-left text-2xl text-gray-700"></i>
            </a>
            <h2 class="ml-4 text-2xl font-bold text-gray-800">Detalles de Compra</h2>
        </div>
    </div>
    <div class="shadow-sm bg-white border border-gray-200 rounded-lg p-6">
        <h2 class="text-lg font-semibold text-gray-800">Proveedor {{ compra.proveedor }}</h2>
        <p class="text-sm text-gray-600">Fecha: {{ compra.fecha }}</p>
        <p class="text-sm text-gray-600">Total: ${{ compra.total }} mxn</p>
        <h3 class="text-lg font-semibold text-gray-800 mt-4">Insumos</h3>
        <ul class="divide-y divide-gray-200 dark:divide-gray-700">
            {% for detalle in compra.detalles %}
            <li class="mb-3 sm:pb-4">
                <div class="flex items-center space-x-4 rtl:space-x-reverse">
                    <div class="flex-1 min-w-0">
                        <p class="text-sm font-medium text-gray-900 truncate">
                            {{ detalle.insumo }}
                        </p>
                        <p class="text-sm text-gray-500 truncate">
                            ${{ detalle.precio_unitario }} {{ detalle.medida_abreviatura }}
                        </p>
                    </div>
                    <div class="flex-1 items-center text-base font-semibold text-gray-900">
                        {{ detalle.cantidad }} {{ detalle.medida_abreviatura }}
                    </div>
                    <div class="inline-flex items-center text-base font-semibold text-gray-900">
                        ${{ detalle.precio_total }}
                    </div>
                </div>
            </li>
            {% endfor %}

        </ul>
        <div class="mt-6 w-full flex justify-end">
            <a href="{{ url_for('principal.compra.editar_compra', compra_id=compra.id) }}"
                class="bg-[var(--color-dirt-default)] text-white px-4 py-2 rounded-lg">
                <i class="fa-solid fa-pen-to-square"></i>
            </a>
        </div>
    </div>
</div>
{% endblock %}