<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>{% block title %}DON GALLETO{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/output.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/all.min.css')}}">
</head>

<body class="flex flex-col h-screen">
    <header class="bg-[var(--color-dirt-default)] text-white p-4 flex justify-between items-center">
        <div class="w-8"></div>
        <a href="{{ url_for('controlador_principal.index') }}" class="cursor-pointer">
            <img src="{{url_for('static',filename='img/logo.png')}}" alt="Logo" class="w-16">
        </a>
    
        <div class="flex items-center space-x-4">
            <button type="button" class="relative group hover:text-[var(--color-chocolate-default)] cursor-pointer"> 
                <i class="fas fa-bell text-xl"></i>
                <span class="absolute top-0 right-0 h-2 w-2 bg-red-500 rounded-full"></span>
            </button>
            <a href="{{url_for('controlador_principal.cuenta')}}" class="hover:text-[var(--color-chocolate-default)] cursor-pointer">
                <i class="fas fa-user text-xl"></i>
            </a>
        </div>
    </header>

    <main class="flex-grow overflow-y-auto bg-white p-8 pt-20">
        {% block content %}
        {% endblock %}
    </main>

    <nav class="bg-white border-t border-gray-200">
        <div class="flex justify-around">
            <a href="{{ url_for('controlador_principal.index') }}" class="flex flex-col items-center justify-center p-4 {{ 'bg-[var(--color-chocolate-default)] text-white rounded-t-none rounded-b-lg' if request.endpoint == 'index' else 'text-gray-700' }}">
                <i class="fas fa-home text-xl"></i>
            </a>
            <a href="{{ url_for('controlador_principal.compras') }}" class="flex flex-col items-center justify-center p-4 {{ 'bg-[var(--color-chocolate-default)] text-white rounded-t-none rounded-b-lg' if request.endpoint == 'compras' else 'text-gray-700' }}">
                <i class="fas fa-truck text-xl"></i>
            </a>
            <a href="{{ url_for('controlador_insumo.insumos') }}" class="flex flex-col items-center justify-center p-4 {{ 'bg-[var(--color-chocolate-default)] text-white rounded-t-none rounded-b-lg' if request.endpoint == 'insumos' else 'text-gray-700' }}">
                <i class="fas fa-egg text-xl"></i>
            </a>
            <a href="{{ url_for('controlador_principal.recetas') }}" class="flex flex-col items-center justify-center p-4 {{ 'bg-[var(--color-chocolate-default)] text-white rounded-t-none rounded-b-lg' if request.endpoint == 'recetas' else 'text-gray-700' }}">
                <i class="fas fa-receipt text-xl"></i>
            </a>
            <a href="{{ url_for('controlador_galleta.galletas') }}" class="flex flex-col items-center justify-center p-4 {{ 'bg-[var(--color-chocolate-default)] text-white rounded-t-none rounded-b-lg' if request.endpoint == 'galletas' else 'text-gray-700' }}">
                <i class="fas fa-cookie text-xl"></i>
            </a>
            <a href="{{ url_for('controlador_principal.mermas') }}" class="flex flex-col items-center justify-center p-4 {{ 'bg-[var(--color-chocolate-default)] text-white rounded-t-none rounded-b-lg' if request.endpoint == 'mermas' else 'text-gray-700' }}">
                <i class="fas fa-arrow-trend-down text-xl"></i>
            </a>
            <a href="{{ url_for('controlador_usuario.usuarios') }}" class="flex flex-col items-center justify-center p-4 {{ 'bg-[var(--color-chocolate-default)] text-white rounded-t-none rounded-b-lg' if request.endpoint == 'usuarios' else 'text-gray-700' }}">
                <i class="fas fa-users text-xl"></i>
            </a>
        </div>
    </nav>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>