<div th:fragment="modal" id="modal"
     class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
    <div class="bg-white rounded-lg shadow-lg">
        <div class="flex justify-between items-center p-4 border-b">
            <h3 th:replace="~{::modalTitle}"></h3>
            <button onclick="closeModal()" class="text-red hover:text-red-dark">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
                </svg>
            </button>
        </div>
        <div th:replace="~{::modalContent}">
        </div>
    </div>
</div>