<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <script th:src="@{/js/main.js}" type="module"></script>
</head>

<header th:fragment="header(title)" class="text-white">
    <div class="w-full flex flex-col sm:flex-row justify-between items-center bg-latte px-4 py-2 sm:py-4">
        <a href="/" class="text-2xl font-bold mb-2 sm:mb-0">
            <img th:src="@{/img/logo.png}" alt="Don Galleto"
                 class="md:size-24 md:mx-16 size-20 object-contain hover:size-28 transition-all duration-300"/>
        </a>
        <nav class="flex flex-col sm:flex-row items-center space-y-2 sm:space-y-0 sm:space-x-8">
            <a th:replace="~{fragments :: headerLink('Compras', '/compras')}"/>
            <a th:replace="~{fragments :: headerLink('Ventas', '#')}"/>
            <a th:replace="~{fragments :: headerLink('Cocina', '/cocina')}"/>
            <a th:replace="~{fragments :: headerLink('Inventario', '/inventario')}"/>
            <a th:replace="~{fragments :: headerLink('Reportes', '#')}"/>
        </nav>
    </div>
    <div class="w-full flex justify-center items-center bg-wood py-2 sm:py-4">
        <h1 class="text-xl sm:text-2xl font-bold text-center" th:text="${title}"></h1>
    </div>
</header>

<footer th:fragment="footer" class="bg-chocolate text-white py-4 sm:py-6">
    <div class="container mx-auto text-center items-center content-center h-20">
        <p th:text="|&copy; ${#dates.format(#dates.createNow(), 'yyyy')} Don Galleto. Todos los derechos reservados.|"></p>
    </div>
</footer>

<a th:fragment="headerLink(text, link)" th:href="@{${link}}"
   class="font-bold text-xl sm:text-2xl hover:text-2xl sm:hover:text-3xl transition-all duration-200">
    <span th:text="${text}"></span>
</a>

<button th:fragment="volverArriba" id="volverArriba"
        class="hidden sm:w-32 md:w-48 p-5 sm:text-xs md:text-xl rounded-full bg-red text-white cursor-pointer fixed bottom-5 right-5 hover:font-bold transition-all duration-500"
        onclick="window.scrollTo({top: 0, behavior: 'smooth'});">
    Volver arriba
</button>