<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/main.css}" rel="stylesheet" />
</head>

<header th:fragment="header" class="bg-[#CB765E] text-white p-4">
    <div class="container mx-auto flex justify-between items-center">
        <a href="/" class="text-2xl font-bold">
            <img th:src="@{/img/logo.png}" alt="Don Galleto" class="size-24 object-contain hover:size-32 transition-all duration-300" />
        </a>
        <nav class="flex items-center space-x-4">
            <a href="/notificaciones" class="font-bold text-2xl hover:text-3xl transition-all duration-75">
                Notificaciones
            </a>
            <a href="/configuracion" class=" font-bold text-2xl hover:text-3xl transition-all duration-75">
                Configuración
            </a>
            <a href="/perfil" class=" font-bold text-2xl hover:text-3xl transition-all duration-75">
                Perfil
            </a>
        </nav>
    </div>
</header>

<footer th:fragment="footer" class="bg-[#332722] text-white py-4">
    <div class="container mx-auto text-center">
        <p th:text="|&copy; ${#dates.format(#dates.createNow(), 'yyyy')} Don Galleto. Todos los derechos reservados.|"></p>
    </div>
</footer>
</html>