<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head('Hola, Don Galleto')"/>
<body>
<header th:replace="fragments :: header('Inicio')"/>
<main class="container mx-auto">
    <div class="container p-4 py-8">
        <h1 class="text-3xl font-bold text-chocolate mb-6">Panel de Control</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            <a th:replace="fragments :: button('Notificaciones', '/notificaciones')"/>
            <a th:replace="fragments :: button('Configuración', '/configuracion')"/>
            <a th:replace="fragments :: button('Perfil', '/perfil')"/>
        </div>
    </div>
    <div class="container p-4 py-8">
        <h1 class="text-3xl font-bold text-chocolate mb-6">Thymeleaf & Tailwind CSS</h1>
        <p class="text-chocolate mb-4">Este es un proyecto de ejemplo para mostrar cómo se puede utilizar Spring Web
            MVC, Thyemeleaf y Tailwind CSS para crear aplicaciones web.</p>
        <div class="m-4 mb-6">
            Ejemplo de paso de parámetros:
            <p class="text-xl text-chocolate">Clave =
                <span class="font-bold text-2xl text-chocolate" th:text="${clave}"></span>
            </p>
        </div>
        <div class="m-4 mb-6">
            Ejemplo de uso de arreglos:
            <ul>
                <li class="font-bold" th:each="valor : ${arreglo}" th:text="${valor}"></li>
            </ul>
        </div>
        <div class="m-4 mb-6">
            Ejemplo de uso de listas:
            <table class="w-full text-left table-auto min-w-max">
                <thead>
                <tr>
                    <th class="p-4 border-b ">
                        <p class="block font-sans text-sm antialiased font-normal leading-none text-chocolate opacity-70">
                            Caracteres
                        </p>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="caracter : ${lista}">
                    <td class="p-4 border-b border-blue-gray-50">
                        <p class="block font-sans text-sm antialiased font-normal leading-normal text-[#F46F4A]"
                           th:text="${caracter}">
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
<footer th:replace="fragments :: footer"/>
</body>
</html>