<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Hola, Don Galleto')}"/>
<body class="bg-latte-light">
<header th:replace="~{fragments/header :: header('Inicio')}"/>
<main class="container mx-auto p-4 py-8">
    <div class="bg-white shadow-md rounded-lg p-6">
        <h1 class="text-3xl font-bold text-chocolate mb-6">Thymeleaf & Tailwind CSS</h1>
        <p class="text-chocolate mb-4">Este es un proyecto de ejemplo para mostrar cómo se puede utilizar Spring Web
            MVC, Thyemeleaf y Tailwind CSS para crear aplicaciones web.</p>
        <h1 class="text-2xl font-bold text-chocolate mb-8">Ejemplos de uso de Thymeleaf</h1>
        <div class="m-4 mb-6">
            Ejemplo de uso de variables:
            <p class="text-xl text-chocolate">
                <span class="font-bold text-xl text-chocolate">Clave</span>
                =
                <span class="text-red" th:text="${key.equals('value') ? 'valor' : ''}"/>
            </p>
        </div>
        <div class="m-4 mb-12">
            Ejemplo de uso de arreglos:
            <ul>
                <li class="font-bold" th:each="value : ${array}"><span class="text-red" th:text="${value}"></span></li>
            </ul>
        </div>
        <div class="m-4 mb-12">
            Ejemplo de uso de listas:
            <table class="w-full text-left table-auto min-w-max">
                <thead>
                <tr>
                    <th class="p-4 border-b border-latte">
                        <p class="block font-bold text-sm antialiased leading-none text-chocolate">
                            Caracteres
                        </p>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="char : ${list}">
                    <td class="p-4 border-b border-latte">
                        <p class="block font-bold text-sm antialiased leading-normal text-red"
                           th:text="${char}">
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="m-4 mb-12">
            Ejemplo de uso de números:
            <p class="text-xl text-chocolate">
                <span class="font-bold text-xl text-chocolate">Número</span>
                =
                <span class="text-red" th:text="${number}"/>
            </p>
        </div>
        <div class="m-4 mb-12">
            Ejemplo de uso de booleanos:
            <p class="text-xl text-chocolate">
                <span class="font-bold text-xl text-chocolate">Booleano</span>
                =
                <span class="text-red" th:text="${boolean.equals(true) ? 'Verdadero' : 'Falso'}"/>
            </p>
        </div>
        <div class="m-4 mb-12">
            Ejemplo de uso de objetos:
            <p class="text-xl text-chocolate">
                <span class="font-bold text-xl text-chocolate">Nombre</span>
                =
                <span class="text-red" th:text="${product.name}"/>
                <br/>
                <span class="font-bold text-xl text-chocolate">Precio</span>
                =
                <span class="text-red" th:text="${product.price}"/>
            </p>
        </div>
        <h1 class="text-2xl font-bold text-chocolate mb-8">Código fuente</h1>
        <div class="m-4 mb-6">
            <p class="text-latte font-mono">MainController.java</p>
            <img th:src="@{/img/MainController.png}" class="">
        </div>
        <div class="m-4 mb-6">
            <p class="text-latte font-mono">index.html</p>
            <img th:src="@{/img/index.png}" class="">
        </div>
    </div>
</main>
<button th:replace="~{fragments/goTop :: goTop}"/>
<footer th:replace="~{fragments/footer :: footer}"/>
</body>
</html>