{% extends "layouts/trabajador.html" %} {% block title %}Mermas - DON GALLETO{% endblock %} {% block content %}
<p class="text-gray-500 text-lg font-semibold text-center">Agregar Merma</p>

<body class="bg-gray-100 min-h-screen flex flex-col justify-between">
    <main class="flex flex-col items-center px-6">
        <form class="w-full max-w-sm space-y-4">
            <div>
                <label class="block text-gray-700 font-bold">Tipo de Merma</label>
                <select class="w-full bg-gray-200 p-3 rounded-2xl focus:outline-none">
                    <option>Seleccione...</option>
                </select>
            </div>

            <div>
                <label class="block text-gray-700 font-bold">Insumo/Galleta/Producción</label>
                <select class="w-full bg-gray-200 p-3 rounded-2xl focus:outline-none">
                    <option>Seleccione...</option>
                </select>
            </div>

            <div>
                <label class="block text-gray-700 font-bold">Medida</label>
                <select class="w-full bg-gray-200 p-3 rounded-2xl focus:outline-none">
                    <option>Seleccione...</option>
                </select>
            </div>

            <div>
                <label class="block text-gray-700 font-bold">Cantidad</label>
                <input type="number" class="w-full bg-gray-200 p-3 rounded-2xl focus:outline-none" placeholder="Ingrese cantidad">
            </div>

            <div class="space-y-2">
                <button class="w-full bg-gray-300 p-3 rounded-2xl">Cancelar</button>
                <button class="w-full bg-gray-300 p-3 rounded-2xl">Agregar</button>
            </div>
        </form>
    </main>
</body>
{% endblock %}