{% extends "layouts/comrador.html" %}

{% block title %}Clientes - DON GALLETO{% endblock %}

{% block content %}
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">

    <div>
        <!--<img class="h-auto max-w-full rounded-lg" 
             src="../static/img/{galleta}.png">-->
        <a href="#"><img class="h-auto max-w-full rounded-lg"
                src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image.jpg" alt="">
            <div class="text-center p-4">
                <!--<p> {galleta} </p>-->
                <!--<p> ${precio} MXN</p>-->
                <p style="color: var(--color-dirt-default);">Chispas de chocolate</p>
                <p style="color: var(--color-wood-default);">$15 MXN</p>
            </div>
        </a>
    </div>
    <div>

        <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image.jpg"
            alt="">
        <div class="text-center p-4">

            <p style="color: var(--color-dirt-default);">Chispas de chocolate</p>
            <p style="color: var(--color-wood-default);">$15 MXN</p>
        </div>
    </div>
    <div>

        <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image.jpg"
            alt="">
        <div class="text-center p-4">

            <p style="color: var(--color-dirt-default);">Chispas de chocolate</p>
            <p style="color: var(--color-wood-default);">$15 MXN</p>
        </div>
    </div>
    <div>

        <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image.jpg"
            alt="">
        <div class="text-center p-4">

            <p style="color: var(--color-dirt-default);">Chispas de chocolate</p>
            <p style="color: var(--color-wood-default);">$15 MXN</p>
        </div>
    </div>

</div>

{%endblock%}