{% extends "layouts/auth.html" %}

{% block title %}Nuevo Usuario - DON{% endblock %}

{% block header %}
Nuevo Usuario
{% endblock %}

{% block content %}
<div class="flex items-center justify-center p-4">
    <div class="w-full max-w-md bg-white rounded-lg p-6">
      <h2 class="text-2xl font-bold text-center text-gray-800 mb-6">Creación de {{ rol }}</h2>
      <form action="{{ url_for('controlador_usuario.nuevo', rol=rol) }}" method="post" class="space-y-5" novalidate>
        {{ form.csrf_token() }}
        
        <div>
          {{ form.nombre.label(class="block text-sm font-medium text-gray-700") }}
          {{ form.nombre(class="mt-1 block w-full border border-gray-300 rounded-full px-4 focus:ring-[var(--color-dirt-default)] focus:border-[var(--color-dirt-default)]", placeholder="Tu nombre") }}
          {% if form.nombre.errors %}
            <p class="mt-1 text-sm text-red-600">{{ form.nombre.errors[0] }}</p>
          {% endif %}
        </div>
        
        <div>
          {{ form.email.label(class="block text-sm font-medium text-gray-700") }}
          {{ form.email(class="mt-1 block w-full border border-gray-300 rounded-full px-4 focus:ring-[var(--color-dirt-default)] focus:border-[var(--color-dirt-default)]", placeholder="correo@don.mx") }}
          {% if form.email.errors %}
            <p class="mt-1 text-sm text-red-600">{{ form.email.errors[0] }}</p>
          {% endif %}
        </div>
        
        <div>
          {{ form.password.label(class="block text-sm font-medium text-gray-700") }}
          {{ form.password(class="mt-1 block w-full border border-gray-300 rounded-full px-4 focus:ring-[var(--color-dirt-default)] focus:border-[var(--color-dirt-default)]", placeholder="Contraseña") }}
          {% if form.password.errors %}
            <p class="mt-1 text-sm text-red-600">{{ form.password.errors[0] }}</p>
          {% endif %}
        </div>
        
        <div>
          {{ form.confirm_password.label(class="block text-sm font-medium text-gray-700") }}
          {{ form.confirm_password(class="mt-1 block w-full border border-gray-300 rounded-full px-4 focus:ring-[var(--color-dirt-default)] focus:border-[var(--color-dirt-default)]", placeholder="Confirmar contraseña") }}
          {% if form.confirm_password.errors %}
            <p class="mt-1 text-sm text-red-600">{{ form.confirm_password.errors[0] }}</p>
          {% endif %}
        </div>

        <div>
            {{ form.rol(class="mt-1 block w-full border border-gray-300 rounded-full px-4 focus:ring-[var(--color-dirt-default)] focus:border-[var(--color-dirt-default)]", value=rol   ) }}
            {% if form.rol.errors %}
              <p class="mt-1 text-sm text-red-600">{{ form.rol.errors[0] }}</p>
            {% endif %}
          </div>
        
        <button type="submit"
                class="w-full bg-[var(--color-latte-default)] text-white font-semibold py-2 px-4 rounded-md hover:bg-[var(--color-dirt-default)] focus:outline-none focus:ring-2 focus:ring-[var(--color-dirt-default)]">
          Crear
        </button>
      </form>
    </div>
  </div>
{%endblock%}